.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-image: url(/images/event/event_-02.jpg);
    padding: 2rem;
}

h2 {
    @include h2;
    color: darken( orange, 20);
    font-size: 5rem;
    padding-top: 2rem;
}

h1 {
    @include h1;
    font-size: 2.2rem;
    font-weight: 900;
    color: black;
}

.event {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    border-bottom: 0.6px solid lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    .date {
        border: 1px solid black;
        width: 120px;
        height: 120px;
        @include fontTwo;
        font-size: 2rem;
        font-weight: 900;
        span {
            font-size: 1rem;
            text-transform: uppercase;
        }
    }
    .inf {
        max-width: 85%;
        text-align: left;
        padding: 0 1rem;
    }
    .img-event {
        max-width: 100%;
        height: auto;
        float: right;
        width: 30vw;
    }
    h5 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .underscore {
        position: relative;
        padding-bottom: 3rem;
    }
    .underscore::after {
        background-color: darkgoldenrod;
        content: "";
        height: 0.2rem;
        width: 5rem;
        left: 0;
        opacity: 0.7;
        position: absolute;
        margin-top: 3rem;
    }
    .text {
        letter-spacing: 1px;
        padding-right: 3rem;
    }
}